@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="admin_user_title mt-5">
        <h3>CMS</h3>
        <hr>
    </div>
</div>