@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<tr>
    <td>soham</td>
    <td>hwvd</td>
    <td>ee</td>
    <td>eeD</td>
    <td>
        <i class="fa-regular fa-pen-to-square UserEditAdminButton" data-bs-toggle="modal" data-bs-target="#user_edit"></i>
        <i class="fa-solid fa-trash-can deleteihover UserDeleteAdminButton" data-bs-toggle="modal" data-bs-target="#User_delete"></i>
    </td>
</tr>
